@keyframes pop-out{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
    }
}


@keyframes shadowEffect {
    0%{
        filter: blur(5px);
    }
    50%{
        filter: blur(7px);
    }
    100%{
        filter: blur(5px);
        
    }
}

@keyframes floatUpDownAvatar {
    0%   { transform: translateY(0);}
    50%  { transform: translateY(-10px);}
    100% { transform: translateY(0);}
}


@keyframes breathe {
    0%{
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }
    100%{
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

@keyframes floatUpDown {
    0%   { transform: translateY(0); filter: drop-shadow(0 0 6px #7fe4b3);}
    50%  { transform: translateY(-10px); filter: drop-shadow(0 0 6px #7fe4b3);}
    100% { transform: translateY(0); filter: drop-shadow(0 0 6px #7fe4b3);}
}

@keyframes marquee-animation {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0%); }
}


.ABOUT{
    animation: pop-out 0.5s ease;
}

.avatarBox img{
    -webkit-user-drag: none;
    width: 30vw;
    animation: floatUpDownAvatar 2s ease-in-out infinite;
}

.avatarBox::after{
    content: "";
    position: absolute;
    bottom: -10px; 
    left: 40%;
    transform: translateX(-50%);
    width: 60%;
    height: 18px;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.4) 0%, transparent 80%);
    filter: blur(6px);
    z-index: -1;
    
    animation: shadowEffect 2s ease-in-out infinite;
    
}

.weflowProcess::before{
    content: "";
    position: absolute;
    background-color: #7a7a7a;
    top: 45%;
    left: 0;
    right: 0;
    height: 1px;
    z-index: -1;
}


.Dot{
    @apply relative w-5 h-5 bg-black border-2 border-[#f7f7f7] rounded-[50%]
}

.Dot:after{
    @apply content-[""] absolute top-[50%] left-[50%] w-5 h-5 border-[1px] border-black rounded-[50%] opacity-0 pointer-events-none
}

.Dot:after{
    transform: translate(-50%, -50%) scale(1);
}

.Dot:hover::after,
.Dot:active::after {
    animation: breathe 0.8s ease-out infinite;
}

.Dot div img{
    transition: transform 0.3 ease;
    -webkit-user-drag: none;
}

.Dot:hover div img,
.Dot:active div img{
    animation: floatUpDown 2s ease-in-out infinite;
    -webkit-user-drag: none;
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 30%;
}
.marqueeText {
    display: inline-block;
    white-space: nowrap;
    animation: marquee-animation 20s linear infinite;
}
.marqueeText span {
    display: inline-block;
    font-weight: 600;
    font-family: sans-serif;
    color: black;
    opacity: 0.6;
    padding-right: 100px;
}
.floating1{
    animation: floatUpDownAvatar 1s ease-in-out infinite;
    --webkit-user-drag: none;
}
.floating2{
    animation: floatUpDownAvatar 2s ease-in-out infinite;
    --webkit-user-drag: none;
}